body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0f0f;
    color: #615791;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #1d1f21;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 95.5%;
}
/* Add this to your CSS file */
.drop-indicator {
    height: 2px;
    background-color: lightgray;
    margin: 4px 0;
}

.hidden {
    display: none;
}

.sidebar h2 {
    color: #ffffff;
    margin-bottom: 20px;
}
.delete-button {
    cursor: pointer;
    color: red;
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 20px;
    visibility: hidden; /* Initially hidden */
}

.discord-message-content:hover .delete-button {
    visibility: visible; /* Shows delete button on hover */
}


#characterList {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px; /* Réduisez cet espace pour laisser plus de place à la liste */
}


/* Style général des boutons */
button {
    width: 100%;
    padding: 10px;
    border: 2px solid #615791;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

/* Effet de hover sur tous les boutons */
button:hover {
    background-color: #615791;
    color: #2b2b2b;
    transform: scale(1.05);
}

/* Styles pour le champ de texte */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #615791;
    background-color: #2b2b2b;
    color: #ffffff;
}
/* Effet de hover sur tous les boutons */
#addCharacterBtn:hover, .character-item:hover, .export-button:hover, .import-button:hover {
    background-color: #615791;
    color: #2b2b2b;
    transform: scale(1.02);
}
.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #2b2b2b;
    color: #615791;
}


.character-item:hover .delete-button {
    visibility: visible; /* Affiche la croix au survol */
}

textarea#jsonEditor {
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    color: #615791;
    border: 1px solid #615791;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #1d1f21;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
}

.modal-content input {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #615791;
    background-color: #2b2b2b;
    color: #ffffff;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    border: 2px solid #615791;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.modal-content button:hover {
    background-color: #615791;
    color: #2b2b2b;
    transform: scale(1.05);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour les items de la liste des personnages */
.character-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #615791;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    overflow: hidden; /* Assure que le texte ne dépasse pas */
}

.character-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Style de défilement personnalisé pour la liste des personnages */
#characterList::-webkit-scrollbar {
    width: 4px;
    left: 14px
}

#characterList::-webkit-scrollbar-track {
    background: #1d1f21;
}

#characterList::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

#characterList::-webkit-scrollbar-thumb:hover {
    background: #615791;
}
/* Styles pour les boutons dans la liste des scénarios */
#scenariosList {
    display: flex;
    flex-direction: column;
}

#scenariosList button {
    background-color: #2b2b2b;
    border: 2px solid #615791;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#scenariosList button:hover {
    background-color: #615791;
    color: #2b2b2b;
    transform: scale(1.05);
}
#discordMessages {
    width: 100%;
    height: 100%;
    background-color: #36393f;
    color: #dcddde;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.discord-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.discord-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.discord-message-username {
    font-weight: bold;
    color: #7289da;
    margin-bottom: 5px;
}
.discord-message-content {
    display: flex;
    align-items: center; /* Vertically center items within message content */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center username and message vertically */
    margin-right: 10px;
}

.discord-message-text {
    background-color: #40444b;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.4;
    color: #dcddde;
    outline: none;
    cursor: text;
}

.time-input {
    background-color: #40444b;
    color: #dcddde;
    padding: 8px;
    border-radius: 5px;
    min-width: 28px; /* Adjust width to match desired appearance */
    max-width: 40px; /* Adjust width to match desired appearance */
    outline: none;
    text-align: center;
    border: none;
    font-size: 14px;
    margin-top: 25px; /* Adjust this value for fine-tuning the vertical alignment */
}

.discord-message-text:focus {
    background-color: #484c52; /* Change la couleur de fond au focus */
    border: 1px solid #615791; /* Ajoute une bordure pour montrer qu'il est éditable */
}
